IS_PRODUCTION=False
# ПЕРЕМЕННЫЕ ДЛЯ ПОСТГРЕССА

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_OUTSIDE_PORT=


# ПЕРЕМЕННЫЕ ДЛЯ ПРОКСИ-ПАРСИНГА
# ИСПОЛЬЗУЮТСЯ В OBSERVER И DOWNLOADER

PROXY_HOST=
PROXY_PORT=
PROXY_LOGIN_PARSING=
PROXY_PASSWORD_PARSING=


# ПЕРЕМЕННЫЕ ДЛЯ NOTIFIER - ОТПРАВКА УВЕДОМЛЕНИЙ В ТГ

PROXY_HOST_TG=
PROXY_PORT_TG=
PROXY_LOGIN_TG=
PROXY_PASSWORD_TG=
TG_BOT_TOKEN=
TG_CHAT_ID=


# ПЕРЕМЕННЫЕ ДЛЯ CPP_PARSER, DOWNLOADER И DLQ_WATCHER
# ПАПКИ СКАЧИВАНИЯ И DLQ

DOWNLOAD_DIR=/app/temp_downloads
DLQ_DIR=/app/dlq/schedule_lessons
ARCHIVE_DIR=/app/archive/schedule_lessons

# REDIS


REDIS_HOST=
REDIS_PORT=
REDIS_OUTSIDE_PORT=
REDIS_PASSWORD=
# СОБИРЕМ ССЫЛКУ ДЛЯ УДОБСТВА
REDIS_URL=redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}


# UPTIME_KUMA URLS

KUMA_URL_OBSERVER=
KUMA_URL_CPP=
KUMA_URL_DOWNLOADER=
KUMA_URL_PYTHON_WORKER=
KUMA_URL_NOTIFIER=
