anyio==4.13.0
fastapi==0.141.1
uvicorn==0.27.1
pydantic==2.13.4
pydantic_settings==2.14.2
redis==8.0.1
SQLAlchemy==2.0.51
sqlmodel==0.0.39
tg.devtools==2.5.0
xxhash==3.8.1
psycopg2-binary==2.9.9
asyncpg==0.31.0
